.mat-tab-group {
  margin-bottom: 48px;
}

/* 
.mat-mdc-tab-group{
  --mat-tab-header-active-focus-label-text-color: rgb(255, 140, 45);
  --mat-tab-header-active-hover-label-text-color: rgb(255, 140, 45);
  --mat-tab-header-active-focus-indicator-color: rgb(255, 140, 45);
  --mat-tab-header-active-hover-indicator-color: rgb(255, 140, 45);

  --mat-tab-header-active-label-text-color: rgb(255, 140, 45);
  --mat-tab-header-active-ripple-color: rgb(255, 140, 45);
  --mat-tab-header-inactive-ripple-color: rgb(255, 140, 45);

  --mdc-tab-indicator-active-indicator-color: rgb(255, 140, 45);
}
 */
