@use '@angular/material' as mat;

:host {
    @include mat.card-overrides((
      subtitle-text-color: orange,
      elevated-container-color: red,
    ));
  }

.content-wrapper{
  width: 70%;
  margin-top: 40px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.app-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.categories-container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.category-card{
    max-width: 250px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.99);
    }
}

.category-image{
  width: 248px;
  height: 250px;
  object-fit: cover;
}


.show-more-button{
  margin-top: 20px;
  align-self: center;
}