.demo-table {
    width: 100%;
  }
  
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}


.container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  
}

.search-bar{
  display: flex;
  justify-content: center;
  height: 35px;
  padding: 0;
  background-color: transparent;
}


.search-bar-input{
  padding: 8px;
  width: 550px; 
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: transparent;
  box-shadow: none;
  font-size: var(--mat-sys-body-medium);
}

.demo-table{
  margin-top: 50px;
}