<div class="container">
  <div class="header">
    <p class="header-text">The item has been added to your shopping cart.</p>
    <button mat-icon-button (click)="close()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="body">
    <img class="product-image" [src]="getImageUrl(product?.imageUrl)" alt="" />
    <div class="product-container">
      <p class="product-title">{{ product?.name }}</p>
      <p class="product-price">{{ product?.price }} &#x20AC;</p>
    </div>
  </div>
  <hr />
  <div class="footer">
    <button mat-flat-button (click)="close()" class="button">
      Continue shopping
    </button>
    <button mat-flat-button (click)="goToCart()" class="button">
      To the checkout
    </button>
  </div>
</div>
